html {
	width: fit-content;
}

#game {
	display: grid;
	width: fit-content;
}

.cell {
	background-color: teal;
	display: table;
	text-align: center;
}

.cell > p {
	display: table-cell;
	vertical-align: middle;
}

.cell.opened {
	background-color: lightgray;
}

.cell.opened.bomb {
	background-color: fuchsia;
}
